<a href="https://colab.research.google.com/github/ImVikashKr/Resourse/blob/main/Python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Functions**

Functions will be one of our main building blocks when we construct larger and larger amounts of code to solve problems.

**So what is a function?**

Formally, a function is a useful device that groups together a set of statements so they can be run more than once. They can also let us specify parameters that can serve as inputs to the functions.

On a more fundamental level, functions allow us to not have to repeatedly write the same code again and again.

Functions will be one of the most basic levels of **reusing code in Python**.

### <code>def</code> Statements:

In [ ]:
def example_function(arg1, arg2):
  '''
  This is where the function's Document String (docstring) goes
  '''
  # Do stuff here
  return desired_result

* We begin with <code>def</code> then a space followed by the name of the function. Try to keep names relevant, for example <code>len()</code> is a good name for a <code>length()</code> function. Also be careful with names, you wouldn't want to call a function the same name as a [built-in function in Python](https://docs.python.org/2/library/functions.html) (such as len).

* Next come a pair of parentheses with a number of arguments separated by a comma. These arguments are the inputs for your function. You'll be able to use these inputs in your function and reference them. After this you put a colon.

* Now here is the important step, you must indent to begin the code inside your function correctly. Python makes use of *whitespace* to organize code. Lots of other programing languages do not do this, so keep that in mind.

* Next you'll see the docstring, this is where you write a basic description of the function. Using iPython and iPython Notebooks, you'll be able to read these docstrings by pressing Shift+Tab after a function name. Docstrings are not necessary for simple functions, but it's good practice to put them in so you or other people can easily understand the code you write.

After all this you begin writing the code you wish to execute.

* <code>return</code> allows a function to *return* a result that can then be stored as a variable, or used in whatever manner a user wants.

**What is the difference between return and print?**

* The return keyword allows you to actually save the result of the output of a function as a variable. The print() function simply displays the output to you, but doesn't save it for future use.

In [ ]:
def extract_first_letters(sentence):
  '''
  This function takes a sentence as an input and returns
  the list of first letters of each word
  '''

  # Step 1 : Get the list of words in this sentence
  words_in_sentence = sentence.split(' ')

  # Step 2: Write a list comprehension to extract the first letters
  first_letters = [word[0] for word in words_in_sentence]

  # Step 3: Return the output list first_letters
  return first_letters

In [ ]:
starwars_quote = "May the Force be with you."
first_letters_starwars = extract_first_letters(starwars_quote)
print(first_letters_starwars)

['M', 't', 'F', 'b', 'w', 'y']

### <b>`*args` and `**kwargs`</b>

Work with Python long enough, and eventually you will encounter `*args` and `**kwargs`. These strange terms show up as parameters in function definitions.

#### <b>`*args`</b>

When a function parameter starts with an asterisk, it allows for an *arbitrary number* of arguments, and the function takes them in as a tuple of values. Rewriting the above function:

In [ ]:
def myfunc(*args):
    return sum(args)*.05

myfunc(40,60,20)

6.0

Notice how passing the keyword "args" into the `sum()` function did the same thing as a tuple of arguments.

It is worth noting that the word "args" is itself arbitrary - any word will do so long as it's preceded by an asterisk. To demonstrate this:

In [ ]:
def myfunc(*spam):
    return sum(spam)*.05

myfunc(40,60,20)

6.0

#### <b>`**kwargs`</b>

Similarly, Python offers a way to handle arbitrary numbers of *keyworded* arguments. Instead of creating a tuple of values, `**kwargs` builds a dictionary of key/value pairs. For example:

In [ ]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print(f"My favorite fruit is {kwargs['fruit']}")  # review String Formatting and f-strings if this syntax is unfamiliar
    else:
        print("I don't like fruit")

myfunc(fruit='pineapple')

My favorite fruit is pineapple

In [ ]:
myfunc()

I don't like fruit

### <b>`*args` and `**kwargs` combined</b>

You can pass `*args` and `**kwargs` into the same function, but `*args` have to appear before `**kwargs`

In [ ]:
def myfunc(*args, **kwargs):
    if 'fruit' and 'juice' in kwargs:
        print(f"I like {' and '.join(args)} and my favorite fruit is {kwargs['fruit']}")
        print(f"May I have some {kwargs['juice']} juice?")
    else:
        pass

myfunc('eggs','spam',fruit='cherries',juice='orange')

I like eggs and spam and my favorite fruit is cherries
May I have some orange juice?

Placing keyworded arguments ahead of positional arguments raises an exception:

In [ ]:
myfunc(fruit='cherries',juice='orange','eggs','spam')

SyntaxError: ignored

**As with "args", you can use any name you'd like for keyworded arguments - "kwargs" is just a popular convention.**

In [ ]:
def factorial(num):
    '''
    Function for calculating factorial of a number
    '''

    # Step 1 : Write an if  statement to print a message if the input number is negative
    if num < 0:
      print("Factorial is not defined for negative numbers.")

    # Step 2: Write the elif statement to calculate the factorial
    elif num > 0:
      result = 1
      for i in range(1, num+1):
        result = result * i
      # print(f"The factorial of {num} is {result}.")

    # Step 3: Write the else statement to take care of the input 0
    else:
      print("The factorial of 0 is 1.")

    # Step 4 : Return the output variable result

    return result

In [ ]:
fact_seven = factorial(10)
print(fact_seven)

3628800

In [ ]:
fact_seven = factorial(5)
print(fact_seven)

120

In [ ]:
# Now let us define a list of numbers for which we want to calculate the factorials
list_of_numbers = [3, 5, 8, 12, 4, 6]

# We can write a list comprehension for the same task
factorial_list = [factorial(number) for number in list_of_numbers if number%2!=0]
print(factorial_list)

[6, 120]

In [ ]:
def assignQuarter(user_date):
  '''
  This function prints the quarter for a given date string
  '''

  # Step 1 : Extract the year and month from the input date string
  date_year = user_date[:4]
  date_month = user_date[5:7]

  # Step 2 : Store the quarter value in a string variable named quarter
  if (date_month >= '01') & (date_month <='03'):
    quarter = date_year + '-Q1'
  elif (date_month >= '04') & (date_month <='06'):
    quarter = date_year + '-Q2'
  elif (date_month >= '07') & (date_month <='09'):
    quarter = date_year + '-Q3'
  else:
    quarter = date_year + '-Q4'

  # Step 3 : Print the message you want to display to the user. Here we are not returning anything
  print(f'The corresponding quarter for the date {user_date} is {quarter}')
  # return quarter

In [ ]:
sample_date = '2020-07-01'

In [ ]:
date_quarter = assignQuarter(sample_date)

The corresponding quarter for the date 2020-07-01 is 2020-Q3

In [ ]:
print(date_quarter)

None

In [ ]:
def check_even_or_odd(num):
  '''
  This function checks whether a number is odd or even and then returns the corresponding string
  '''
  print(f'Given number is {num}')

  # Step 1 : Check if the number is even. If it is return 'even'
  if num%2 == 0:
    return 'even'

  # Step 2 : Else just return 'odd'

  return 'odd'

In [ ]:
is_even_odd = check_even_or_odd(10)
print(is_even_odd)

Given number is 10
even

In [ ]:
def calculate_averages(my_list):
  '''
  This function calculates the mean and median of a given list of numbers.
  '''
  # Step 1 : Calculate the mean
  mean = sum(my_list)/len(my_list)

  # Step 2 : Calculate the median
  sorted_list = sorted(my_list)
  list_length = len(sorted_list)

  if list_length%2 == 0:
    median = (sorted_list[int(list_length/2)-1] + sorted_list[int(list_length/2)])/2
  else :
    median = sorted_list[int((list_length+1)/2) - 1]

  return  mean, median

In [ ]:
heights =  [172,175,170,168,170,200]

In [ ]:
calculate_averages(heights)

(175.83333333333334, 171.0)

In [ ]:
mean_height, median_height = calculate_averages(heights)

In [ ]:
mean_height

175.83333333333334

In [ ]:
median_height

171.0

## **Lambda Expressions, Map, and Filter**

### **map function**

The **map** function allows you to "map" a function to an iterable object. That is to say you can quickly call the same function to every item in an iterable, such as a list. For example:

In [ ]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'even'
    else:
        return mystring[0]

In [ ]:
mynames = ['John','Cindy','Sarah','Kelly','Mike']

In [ ]:
list(map(splicer,mynames))

['even', 'C', 'S', 'K', 'even']

### **filter function**

The filter function returns an iterator yielding those items of iterable for which function(item)
is true. Meaning you need to filter by a function that returns either True or False. Then passing that into filter (along with your iterable) and you will get back only the results that would return True when passed to the function.

In [ ]:
def check_even(num):
    return num % 2 == 0

In [ ]:
nums = [0,1,2,3,4,5,6,7,8,9,10]

In [ ]:
filter(check_even,nums)

In [ ]:
list(filter(check_even,nums))

[0, 2, 4, 6, 8, 10]

### **lambda expression**

One of Pythons most useful (and for beginners, confusing) tools is the lambda expression. lambda expressions allow us to create "anonymous" functions. This basically means we can quickly make ad-hoc functions without needing to properly define a function using def.

Function objects returned by running lambda expressions work exactly the same as those created and assigned by defs. There is key difference that makes lambda useful in specialized roles:

**lambda's body is a single expression, not a block of statements.**

* The lambda's body is similar to what we would put in a def body's return statement. We simply type the result as an expression instead of explicitly returning it. Because it is limited to an expression, a lambda is less general that a def. We can only squeeze design, to limit program nesting. lambda is designed for coding simple functions, and def handles the larger tasks.

In [ ]:
def square(num):
    return num**2

In [ ]:
def square(num): return num**2

This is the form a function that a lambda expression intends to replicate. A lambda expression can then be written as:

In [ ]:
lambda num: num ** 2

In [ ]:
# You wouldn't usually assign a name to a lambda expression, this is just for demonstration!
square = lambda num: num **2

In [ ]:
square(13)

169

So why would use this? Many function calls need a function passed in, such as map and filter. Often you only need to use the function you are passing in once, so instead of formally defining it, you just use the lambda expression.

In [ ]:
list(map(lambda num: num ** 2, nums))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
list(filter(lambda n: n % 2 == 0,nums))

[0, 2, 4, 6, 8, 10]

In [ ]:
lambda x,y : x + y

### Let us find out what are the differences between functions and methods

* Function and method both look similar as they perform in an almost similar way, but the key difference is the concept of ‘Class and its Object’. Functions can be called only by its name, as it is defined independently. But methods cannot be called by its name only we need to invoke the class by reference of that class in which it is defined, that is, the method is defined within a class and hence they are dependent on that class.

* A method is called by its name but it is associated with an object (dependent). It is implicitly passed to an object on which it is invoked. It may or may not return any data. A method can operate the data (instance variables) that is contained by the corresponding class.

## **Methods**

We've already seen a few example of methods when learning about lists in Python. Methods are essentially functions built into objects.

Methods perform specific actions on an object and can also take arguments, just like a function.

Methods are of the form:

    object.method(arg1,arg2,etc...)

## **Scope**

Now that we have gone over writing our own functions, it's important to understand how Python deals with the variable names you assign. When you create a variable name in Python the name is stored in a *name-space*. Variable names also have a *scope*, the scope determines the visibility of that variable name to other parts of your code.

Let's start with a quick thought experiment; imagine the following code:

In [ ]:
x = 25

def printer():
    x = 50
    return x

In [ ]:
print(x)

25

In [ ]:
print(printer())

50

This idea of scope in your code is very important to understand in order to properly assign and call variable names.

In simple terms, the idea of scope can be described by 3 general rules:

1. Name assignments will create or change local names by default.
2. Name references search (at most) four scopes, these are:
    * local
    * enclosing functions
    * global
    * built-in
3. Names declared in global and nonlocal statements map assigned names to enclosing module and function scopes.


The statement in #2 above can be defined by the LEGB rule.

**LEGB Rule:**

L: Local — Names assigned in any way within a function (def or lambda), and not declared global in that function.

E: Enclosing function locals — Names in the local scope of any and all enclosing functions (def or lambda), from inner to outer.

G: Global (module) — Names assigned at the top-level of a module file, or declared global in a def within the file.

B: Built-in (Python) — Names preassigned in the built-in names module : open, range, SyntaxError,...

In [ ]:
# x is local here:
f = lambda x:x**2

**Enclosing function locals**

This occurs when we have a function inside a function (nested functions)

In [ ]:
name = 'This is a global name'

def greet():
    # Enclosing function
    name = 'Sammy'

    def hello():
        print('Hello '+name)
    hello()
greet()

Hello Sammy

Note how Sammy was used, because the hello() function was enclosed inside of the greet function!

**Global**

Luckily in Jupyter a quick way to test for global variables is to see if another cell recognizes the variable!

In [ ]:
print(name)

This is a global name

**Built-in**

These are the built-in function names in Python (don't overwrite these!)

In [ ]:
len

### Local Variables
When you declare variables inside a function definition, they are not related in any way to other variables with the same names used outside the function - i.e. variable names are local to the function. This is called the scope of the variable. All variables have the scope of the block they are declared in starting from the point of definition of the name.

Example:

In [ ]:
x = 50

def func(x):
    print('x is', x)
    x = 2
    print('Changed local x to', x)

func(x)
print('x is still', x)

x is 50
Changed local x to 2
x is still 50

The first time that we print the value of the name **x** with the first line in the function’s body, Python uses the value of the parameter declared in the main block, above the function definition.

Next, we assign the value 2 to **x**. The name **x** is local to our function. So, when we change the value of **x** in the function, the **x** defined in the main block remains unaffected.

With the last print statement, we display the value of **x** as defined in the main block, thereby confirming that it is actually unaffected by the local assignment within the previously called function.

### The <code>global</code> statement
If you want to assign a value to a name defined at the top level of the program (i.e. not inside any kind of scope such as functions or classes), then you have to tell Python that the name is not local, but it is global. We do this using the <code>global</code> statement. It is impossible to assign a value to a variable defined outside a function without the global statement.

You can use the values of such variables defined outside the function (assuming there is no variable with the same name within the function). However, this is not encouraged and should be avoided since it becomes unclear to the reader of the program as to where that variable’s definition is. Using the <code>global</code> statement makes it amply clear that the variable is defined in an outermost block.

Example:

In [ ]:
x = 50

def func():
    global x
    print('This function is now using the global x!')
    print('Because of global x is: ', x)
    x = 2
    print('Ran func(), changed global x to', x)

print('Before calling func(), x is: ', x)
func()
print('Value of x (outside of func()) is: ', x)

Before calling func(), x is:  50
This function is now using the global x!
Because of global x is:  50
Ran func(), changed global x to 2
Value of x (outside of func()) is:  2

The <code>global</code> statement is used to declare that **x** is a global variable - hence, when we assign a value to **x** inside the function, that change is reflected when we use the value of **x** in the main block.

You can specify more than one global variable using the same global statement e.g. <code>global x, y, z</code>.

# **Object Oriented Programming**

**Object-oriented programming (OOP)** is a programming paradigm that uses objects and their interactions to design applications and computer programs. Python is an object-oriented programming language, and it provides features such as inheritance, encapsulation, and polymorphism to support OOP.

A **class** is a collection of objects. A class contains the blueprints or the prototype from which the objects are being created. It is a logical entity that contains some attributes and methods.

1. Classes are created by keyword class.

2. Attributes are the variables that belong to a class.

3. Attributes are always public and can be accessed using the dot (.) operator. Eg.: Myclass.Myattribute

The **object** is an entity that has a state and behavior associated with it. It may be any real-world object like a mouse, keyboard, chair, table, pen, etc. Integers, strings, floating-point numbers, even arrays, and dictionaries, are all objects. More specifically, any single integer or any single string is an object. The number 12 is an object, the string “Hello, world” is an object, a list is an object that can hold other objects, and so on.

An object consists of :

1. State: It is represented by the attributes of an object. It also reflects the properties of an object.

2. Behavior: It is represented by the methods of an object. It also reflects the response of an object to other objects.

3. Identity: It gives a unique name to an object and enables one object to interact with other objects.


In Python, **self** refers to the current instance of a class. It is used to access the attributes and methods of an object from within the class.

When a method is called on an object, the object is automatically passed as the first argument to the method. By convention, this argument is named self. For example, in the following class Dog:

In [ ]:
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):
        print("Woof!")

when the bark() method is called on an instance of the class Dog, the instance is passed as the self argument. So

In [ ]:
dog1 = Dog("Fido", 3)
dog1.bark()

Woof!

is equivalent to

In [ ]:
Dog.bark(dog1)

Woof!

self is used to access the object's attributes and methods from within the class. For example, in the __init__ method, self.name = name assigns the value of the argument name to the attribute name of the object. Similarly, in the bark method, print("Woof!") is used to access the method of the object.

It's important to note that self is not a keyword in Python but is a convention. You can use any other name instead of self but it is not recommended.

In Python, the __init__ method is a special method that is called when an object is created from a class. It allows the class to initialize the attributes of the object. The __init__ method is defined in the class definition and it is automatically called when the object is created. The __init__ method is also known as the constructor of the class.

The __init__ method has a special parameter self, which refers to the current instance of the class. This parameter is used to access the attributes and methods of the object from within the class.

Here's an example of a class Dog with an __init__ method:

In [ ]:
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):
        print("Woof!")

dog1 = Dog("Fido", 3)
print(dog1.name) # Output: "Fido"
print(dog1.age) # Output: 3

Fido
3

In this example, the __init__ method takes two arguments name and age, and assigns them to the attributes name and age of the object using self.name = name and self.age = age. When an object is created using dog1 = Dog("Fido", 3), the __init__ method is called with self set to dog1, and the attributes name and age of dog1 are initialized to "Fido" and 3 respectively.

The __init__ method does not have to return any value, it is used for initializing the attributes and any other setup that the object may need when it is created.

It is important to note that __init__ is a dunder method (double underscore method) and these special methods are used to define the behavior of the class, such as string representation, comparison, and mathematical operations.

**Creating Class and objects with methods**

In [ ]:
class Dog:

	# class attribute
	attr1 = "mammal"

	# Instance attribute
	def __init__(self, name):
		self.name = name

	def speak(self):
		print("My name is {}".format(self.name))

# Driver code
# Object instantiation
Rodger = Dog("Rodger")
Tommy = Dog("Tommy")

# Accessing class methods
Rodger.speak()
Tommy.speak()

My name is Rodger
My name is Tommy

###**Inheritance:**

**Inheritance** is the capability of one class to derive or inherit the properties from another class. The class that derives properties is called the derived class or child class and the class from which the properties are being derived is called the base class or parent class.

The benefits of inheritance are:

1. It represents real-world relationships well.

2. It provides the reusability of a code. We don’t have to write the same code again and again. Also, it allows us to add more features to a class without modifying it.

3. It is transitive in nature, which means that if class B inherits from another class A, then all the subclasses of B would automatically inherit from class A.

**Types of Inheritance –**

1. Single Inheritance:
Single-level inheritance enables a derived class to inherit characteristics from a single-parent class.

2. Multilevel Inheritance:
Multi-level inheritance enables a derived class to inherit properties from an immediate parent class which in turn inherits properties from his parent class.

3. Hierarchical Inheritance:
Hierarchical level inheritance enables more than one derived class to inherit properties from a parent class.

4. Multiple Inheritance:
Multiple level inheritance enables one derived class to inherit properties from more than one base class.

In [ ]:
# Python code to demonstrate how parent constructors are called.
# parent class
class Person(object):

	# __init__ is known as the constructor
	def __init__(self, name, idnumber):
		self.name = name
		self.idnumber = idnumber

	def display(self):
		print(self.name)
		print(self.idnumber)

	def details(self):
		print("My name is {}".format(self.name))
		print("IdNumber: {}".format(self.idnumber))

# child class
class Employee(Person):
	def __init__(self, name, idnumber, salary, post):
		self.salary = salary
		self.post = post

		# invoking the __init__ of the parent class
		Person.__init__(self, name, idnumber)

	def details(self):
		print("My name is {}".format(self.name))
		print("IdNumber: {}".format(self.idnumber))
		print("Post: {}".format(self.post))


# creation of an object variable or an instance
a = Employee('Vicky', 886012, 200000, "Intern")

# calling a function of the class Person using
# its instance
a.display()
a.details()

Vicky
886012
My name is Vicky
IdNumber: 886012
Post: Intern

we have created two classes i.e. Person (parent class) and Employee (Child Class). The Employee class inherits from the Person class. We can use the methods of the person class through employee class as seen in the display function in the above code. A child class can also modify the behavior of the parent class as seen through the details() method.

###**Polymorphism:**

**Polymorphism** simply means having many forms. For example, we need to determine if the given species of birds fly or not, using polymorphism we can do this using a single function.

In object-oriented programming, polymorphism refers to the ability of objects of different classes to be used interchangeably. This means that objects of different classes can be treated as objects of a common base class, as long as they implement a common interface.

There are two types of polymorphism in Python:

1. Duck Typing: It is a concept in Python which says "If it walks like a duck, quacks like a duck, it must be a duck". In other words, if an object has the same methods and attributes as another object, it is considered to be the same type of object, regardless of its class.

2. Polymorphism through inheritance: Polymorphism can be achieved through inheritance by using a parent class as a common interface for different child classes. A child class inherits the methods and attributes of the parent class, and can also have its own methods and attributes. An object of a child class can be used interchangeably with an object of the parent class, as long as the object implements the same methods and attributes as the parent class.

In [ ]:
class Bird:

	def intro(self):
		print("There are many types of birds.")

	def flight(self):
		print("Most of the birds can fly but some cannot.")

class sparrow(Bird):

	def flight(self):
		print("Sparrows can fly.")

class ostrich(Bird):

	def flight(self):
		print("Ostriches cannot fly.")

obj_bird = Bird()
obj_spr = sparrow()
obj_ost = ostrich()

obj_bird.intro()
obj_bird.flight()

obj_spr.intro()
obj_spr.flight()

obj_ost.intro()
obj_ost.flight()

There are many types of birds.
Most of the birds can fly but some cannot.
There are many types of birds.
Sparrows can fly.
There are many types of birds.
Ostriches cannot fly.

In Python, polymorphism is achieved through the use of interfaces or abstract base classes, which define a set of methods that a class must implement to be considered a certain type of object.

In summary, polymorphism allows objects of different classes to be used interchangeably, by providing a common interface for the objects. This can be achieved through inheritance, duck typing, or interfaces. It allows for more flexible and extensible code by allowing objects of different classes to be used in the same way.

###**Encapsulation:**

**Encapsulation** is one of the fundamental concepts in object-oriented programming (OOP). It describes the idea of wrapping data and the methods that work on data within one unit. This puts restrictions on accessing variables and methods directly and can prevent the accidental modification of data. To prevent accidental change, an object’s variable can only be changed by an object’s method. Those types of variables are known as private variables.

A class is an example of encapsulation as it encapsulates all the data that is member functions, variables, etc.

In object-oriented programming, encapsulation refers to the practice of keeping the internal state of an object hidden from the outside world, and using methods to access and manipulate the state. Encapsulation is used to provide a level of abstraction and information hiding, which can help to protect the integrity of the data and reduce the likelihood of bugs in the program.

In Python, encapsulation is achieved through the use of private and protected variables and methods. Variables and methods that are intended to be private are typically denoted by a single leading underscore (e.g. _variable or _method()), while those intended to be protected are denoted by a double leading underscore (e.g. __variable or __method()).

In [ ]:
class BankAccount:
    def __init__(self, balance):
        self.__balance = balance

    def deposit(self, amount):
        self.__balance += amount

    def withdraw(self, amount):
        if self.__balance >= amount:
            self.__balance -= amount
            return True
        else:
            return False

    def get_balance(self):
        return self.__balance

account = BankAccount(1000)
print(account.get_balance()) # Output: 1000
account.deposit(500)
print(account.get_balance()) # Output: 1500
account.withdraw(700)
print(account.get_balance()) # Output: 800

1000
1500
800

In this example, the __balance attribute is intended to be private, and it is only accessible through the deposit(), withdraw() and get_balance() methods. This means that the user of the class can't directly access or modify the __balance attribute, and can only use the methods provided to interact with it.

By encapsulating the internal state of the object, this class provides a level of abstraction and information hiding, making it more robust and less prone to errors. The user of the class doesn't need to know the internal details of how the balance is stored and can only use the provided methods to interact with it.

It's important to note that in Python, encapsulation is not enforced by the language but is a convention. You could still access the private variable by using _ClassName__variable notation but it is not recommended to do so.

Encapsulation provides flexibility, maintainability, and extensibility to our code by making it more modular and easier to understand. It also helps in making the code more robust by hiding the internal details of the class and only exposing the necessary information to the user.

###**Data Abstraction:**

It hides the unnecessary code details from the user. Also,  when we do not want to give out sensitive parts of our code implementation and this is where data abstraction came.

Data Abstraction in Python can be achieved through creating abstract classes.

Data abstraction is a technique in object-oriented programming that allows the programmer to hide the internal details of a class, and only expose the necessary information to the user. It is closely related to encapsulation, and the two concepts are often used together.

Data abstraction is used to create a simplified, high-level view of an object, which allows the user to interact with the object in a meaningful way, without needing to know the internal details of how the object works. This can make the code more modular and easier to understand, and also make the code more robust and less prone to errors.

In Python, data abstraction can be achieved through the use of abstract classes and interfaces. An abstract class is a class that cannot be instantiated, but can be subclassed. An abstract class typically defines a set of methods that must be implemented by its subclasses, which allows the subclasses to be used interchangeably, as long as they implement the same methods.

In [ ]:
from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def area(self):
        pass

class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14 * (self.radius**2)

shapes = [Rectangle(10, 5), Circle(3)]
for shape in shapes:
    print(shape.area())

50
28.26

In this example, the Shape class is an abstract class that defines a single method area() which is intended to be overridden by subclasses. The Rectangle and Circle classes are concrete classes that inherit from the Shape class and implement the area() method. As a result, the area() method can be called on objects of both classes, and the correct implementation will be called based on the actual type of the object.

In summary, data abstraction is a technique that allows the user to interact with an object in a meaningful way, without needing to know the internal details of how the object works. It can be achieved through the use of abstract classes, interfaces and encapsulation. It makes the code more modular, more extensible and more robust by hiding the internal details of the class and only exposing the necessary information to the user.

### **Why use OOPs?**

Programming with OOP lets you package together data states and functionality to change those data states while keeping the specifics secret (Consider the analogy of a car, you can only see the steering of the car while driving, the circuitry behind it is hidden from you). As a result, OOP design produces flexible, modular, and abstract code. Because of this, it is very helpful for developing larger programs. Using classes and objects, you may include OOP into your code. The objects you construct will have the states and capabilities of the class to which they belong.

###**What is method overloading?**

There is a concept where two or more methods can have the same name. But they should have different parameters, different numbers of parameters, different types, or both. These methods are known as overloaded methods and this feature is called method overloading.

### **What is method overriding?**

Method overriding is a concept of object-oriented programming.

It is a language feature that allows a subclass or child class to provide a specific implementation of a method which is already provided by one of its superclasses or parent classes.

### **What are the main features of OOPs?**

The main features of OOPs are given as follows:

1. In OOP, you combine the code into one unit so you can specify the parameters of each piece of data. This process of wrapping up data into a single unit is called encapsulation.

2. By using classes, you can generalise your object types and make your application easier to use. This is termed as an abstraction.

3. The ability for a class to inherit characteristics and behaviours from another class allows for more code reuse.

4. Polymorphism allows for the creation of several objects from a single, adaptable class of code.

### **Is it possible to call the base class method without creating an instance?**

Yes, we can possibly call the base class method without creating an instance in the following 3 cases:

1. If the method is static

2. Calling the inherited method inside a derived class

3. Calling the method using the base keyword from the sub-classes

The most popular case is that of the static methods.

### **What are the limitations of OOPs?**

Following are some of the common limitations of OOPs:

1. Size exceeds that of other programs.

2. It took a lot of work to make, and it runs more slowly than other programs.

3. It is inappropriate for certain types of issues.

4. It takes some getting used to.

###**What are constructors?**

The constructor has the same name as the class.
A constructor is also a special kind of method. It is used to initialize objects of the class.

Types of constructors depend upon languages

1. Private Constructor

2. Default Constructor

3. Copy Constructor

4. Static Constructor

5. Parameterized Constructor

###**What is a destructor?**

A destructor is a method that is called automatically when an object is destroyed.

The destructor also recovers the heap space which was allocated to the destroyed object. It also start closing the files and database connections of the object, etc.

###**Differentiate between an abstract class and an interface?**

An interface can have only abstract methods, but an Abstract class can have abstract and non-abstract methods.

The interface should be used if just the requirement specification is known and nothing about implementation. If the implementation is known, but partially, then an abstract class should be used. If the implementation is known completely, then a concrete Class should be used.

####When I define a Customer class using the class keyword, I haven't actually created a customer. Instead, what I've created is a sort of instruction manual for constructing "customer" objects.

In [ ]:
class Customer(object):
    """A customer of ABC Bank with a checking account. Customers have the
    following properties:

    Attributes:
        name: A string representing the customer's name.
        balance: A float tracking the current balance of the customer's account.
    """

    def __init__(self, name, balance=0.0):
        """Return a Customer object whose name is *name* and starting
        balance is *balance*."""
        self.name = name
        self.balance = balance

    def withdraw(self, amount):
        """Return the balance remaining after withdrawing *amount*
        dollars."""
        if amount > self.balance:
            raise RuntimeError('Amount greater than available balance.')
        self.balance -= amount
        return self.balance

    def deposit(self, amount):
        """Return the balance remaining after depositing *amount*
        dollars."""
        self.balance += amount
        return self.balance

The class Customer(object) line does not create a new customer. That is, just because we've defined a Customer doesn't mean we've created one; we've merely outlined the blueprint to create a Customer object. To do so, we call the class's __init__ method with the proper number of arguments (minus self, which we'll get to in a moment).

So, to use the "blueprint" that we created by defining the class Customer (which is used to create Customer objects), we call the class name almost as if it were a function: <code>jeff = Customer('Jeff Knupp', 1000.0)</code>. This line simply says "use the Customer blueprint to create me a new object, which I'll refer to as jeff."


The jeff object, known as an instance, is the realized version of the Customer class. Before we called Customer(), no Customer object existed. We can, of course, create as many Customer objects as we'd like. There is still, however, only one Customer class, regardless of how many instances of the class we create.

In [ ]:
jeff = Customer('Jeff Knupp', 1000.0)

###**self?**

So what's with that self parameter to all of the Customer methods? What is it? Why, it's the instance, of course! Put another way, a method like withdraw defines the instructions for withdrawing money from some abstract customer's account. Calling jeff.withdraw(100.0) puts those instructions to use on the jeff instance.

So when we say def withdraw(self, amount):, we're saying, "here's how you withdraw money from a Customer object (which we'll call self) and a dollar figure (which we'll call amount). self is the instance of the Customer that withdraw is being called on. That's not me making analogies, either. jeff.withdraw(100.0) is just shorthand for Customer.withdraw(jeff, 100.0), which is perfectly valid (if not often seen) code.

###__init__

self may make sense for other methods, but what about __init__? When we call __init__, we're in the process of creating an object, so how can there already be a self? Python allows us to extend the self pattern to when objects are constructed as well, even though it doesn't exactly fit. Just imagine that jeff = Customer('Jeff Knupp', 1000.0) is the same as calling jeff = Customer(jeff, 'Jeff Knupp', 1000.0); the jeff that's passed in is also made the result.

This is why when we call __init__, we initialize objects by saying things like self.name = name. Remember, since self is the instance, this is equivalent to saying jeff.name = name, which is the same as jeff.name = 'Jeff Knupp. Similarly, self.balance = balance is the same as jeff.balance = 1000.0. After these two lines, we consider the Customer object "initialized" and ready for use.

Be careful what you __init__

After __init__ has finished, the caller can rightly assume that the object is ready to use. That is, after jeff = Customer('Jeff Knupp', 1000.0), we can start making deposit and withdraw calls on jeff; jeff is a fully-initialized object.

Imagine for a moment we had defined the Customer class slightly differently:

In [ ]:
class Customer(object):
    """A customer of ABC Bank with a checking account. Customers have the
    following properties:

    Attributes:
        name: A string representing the customer's name.
        balance: A float tracking the current balance of the customer's account.
    """

    def __init__(self, name):
        """Return a Customer object whose name is *name*."""
        self.name = name

    def set_balance(self, balance=0.0):
        """Set the customer's starting balance."""
        self.balance = balance

    def withdraw(self, amount):
        """Return the balance remaining after withdrawing *amount*
        dollars."""
        if amount > self.balance:
            raise RuntimeError('Amount greater than available balance.')
        self.balance -= amount
        return self.balance

    def deposit(self, amount):
        """Return the balance remaining after depositing *amount*
        dollars."""
        self.balance += amount
        return self.balance

This may look like a reasonable alternative; we simply need to call set_balance before we begin using the instance. There's no way, however, to communicate this to the caller. Even if we document it extensively, we can't force the caller to call jeff.set_balance(1000.0) before calling jeff.withdraw(100.0). Since the jeff instance doesn't even have a balance attribute until jeff.set_balance is called, this means that the object hasn't been "fully" initialized.

The rule of thumb is, don't introduce a new attribute outside of the __init__ method, otherwise you've given the caller an object that isn't fully initialized. There are exceptions, of course, but it's a good principle to keep in mind. This is part of a larger concept of object consistency: there shouldn't be any series of method calls that can result in the object entering a state that doesn't make sense.

Invariants (like, "balance should always be a non-negative number") should hold both when a method is entered and when it is exited. It should be impossible for an object to get into an invalid state just by calling its methods. It goes without saying, then, that an object should start in a valid state as well, which is why it's important to initialize everything in the __init__ method.

###**Instance Attributes and Methods**

An function defined in a class is called a "method". Methods have access to all the data contained on the instance of the object; they can access and modify anything previously set on self. Because they use self, they require an instance of the class in order to be used. For this reason, they're often referred to as "instance methods".

If there are "instance methods", then surely there are other types of methods as well, right? Yes, there are, but these methods are a bit more esoteric. We'll cover them briefly here, but feel free to research these topics in more depth.

###**Static Methods**
Class attributes are attributes that are set at the class-level, as opposed to the instance-level. Normal attributes are introduced in the __init__ method, but some attributes of a class hold for all instances in all cases. For example, consider the following definition of a Car object:

In [ ]:
class Car(object):

    wheels = 4

    def __init__(self, make, model):
        self.make = make
        self.model = model

mustang = Car('Ford', 'Mustang')
print(mustang.wheels)
# 4
print(Car.wheels)
# 4

4
4

A Car always has four wheels, regardless of the make or model. Instance methods can access these attributes in the same way they access regular attributes: through self (i.e. self.wheels).

There is a class of methods, though, called static methods, that don't have access to self. Just like class attributes, they are methods that work without requiring an instance to be present. Since instances are always referenced through self, static methods have no self parameter.

In [ ]:
# The following would be a valid static method on the Car class:

class Car(object):
    ...
    def make_car_sound():
        print('VRooooommmm!')

No matter what kind of car we have, it always makes the same sound (or so I tell my ten month old daughter). To make it clear that this method should not receive the instance as the first parameter (i.e. self on "normal" methods), the @staticmethod decorator is used, turning our definition into:

In [ ]:
class Car(object):
    ...
    @staticmethod
    def make_car_sound():
        print('VRooooommmm!')

###**Class Methods**

A variant of the static method is the class method. Instead of receiving the instance as the first parameter, it is passed the class. It, too, is defined using a decorator:

In [ ]:
class Vehicle(object):
    ...
    @classmethod
    def is_motorcycle(cls):
        return cls.wheels == 2

###**Inheritance**

While Object-oriented Programming is useful as a modeling tool, it truly gains power when the concept of inheritance is introduced. Inherticance is the process by which a "child" class derives the data and behavior of a "parent" class. An example will definitely help us here.

Imagine we run a car dealership. We sell all types of vehicles, from motorcycles to trucks. We set ourselves apart from the competition by our prices. Specifically, how we determine the price of a vehicle on our lot:  RS 5,000 x number of wheels a vehicle has. We love buying back our vehicles as well. We offer a flat rate - 10% of the miles driven on the vehicle. For trucks, that rate is RS 10,000. For cars, RS 8,000. For motorcycles, RS 4,000.

If we wanted to create a sales system for our dealership using Object-oriented techniques, how would we do so? What would the objects be? We might have a Sale class, a Customer class, an Inventory class, and so forth, but we'd almost certainly have a Car, Truck, and Motorcycle class.

What would these classes look like? Using what we've learned, here's a possible implementation of the Car class:

In [ ]:
class Car(object):
    """A car for sale by Jeffco Car Dealership.

    Attributes:
        wheels: An integer representing the number of wheels the car has.
        miles: The integral number of miles driven on the car.
        make: The make of the car as a string.
        model: The model of the car as a string.
        year: The integral year the car was built.
        sold_on: The date the vehicle was sold.
    """

    def __init__(self, wheels, miles, make, model, year, sold_on):
        """Return a new Car object."""
        self.wheels = wheels
        self.miles = miles
        self.make = make
        self.model = model
        self.year = year
        self.sold_on = sold_on

    def sale_price(self):
        """Return the sale price for this car as a float amount."""
        if self.sold_on is not None:
            return 0.0  # Already sold
        return 5000.0 * self.wheels

    def purchase_price(self):
        """Return the price for which we would pay to purchase the car."""
        if self.sold_on is None:
            return 0.0  # Not yet sold
        return 8000 - (.10 * self.miles)

OK, that looks pretty reasonable. Of course, we would likely have a number of other methods on the class, but I've shown two of particular interest to us: sale_price and purchase_price. We'll see why these are important in a bit.

Now that we've got the Car class, perhaps we should crate a Truck class? Let's follow the same pattern we did for car:

In [ ]:
class Truck(object):
    """A truck for sale by Jeffco Car Dealership.

    Attributes:
        wheels: An integer representing the number of wheels the truck has.
        miles: The integral number of miles driven on the truck.
        make: The make of the truck as a string.
        model: The model of the truck as a string.
        year: The integral year the truck was built.
        sold_on: The date the vehicle was sold.
    """

    def __init__(self, wheels, miles, make, model, year, sold_on):
        """Return a new Truck object."""
        self.wheels = wheels
        self.miles = miles
        self.make = make
        self.model = model
        self.year = year
        self.sold_on = sold_on

    def sale_price(self):
        """Return the sale price for this truck as a float amount."""
        if self.sold_on is not None:
            return 0.0  # Already sold
        return 5000.0 * self.wheels

    def purchase_price(self):
        """Return the price for which we would pay to purchase the truck."""
        if self.sold_on is None:
            return 0.0  # Not yet sold
        return 10000 - (.10 * self.miles)

Wow. That's almost identical to the car class. One of the most important rules of programming (in general, not just when dealing with objects) is "DRY" or "Don't Repeat Yourself. We've definitely repeated ourselves here. In fact, the Car and Truck classes differ only by a single character (aside from comments).

So what gives? Where did we go wrong? Our main problem is that we raced straight to the concrete: Cars and Trucks are real things, tangible objects that make intuitive sense as classes. However, they share so much data and functionality in common that it seems there must be an abstraction we can introduce here. Indeed there is: the notion of Vehicles.

###**Abstract Classes**
A Vehicle is not a real-world object. Rather, it is a concept that some real-world objects (like cars, trucks, and motorcycles) embody. We would like to use the fact that each of these objects can be considered a vehicle to remove repeated code. We can do that by creating a Vehicle class:

In [ ]:
class Vehicle(object):
    """A vehicle for sale by Jeffco Car Dealership.

    Attributes:
        wheels: An integer representing the number of wheels the vehicle has.
        miles: The integral number of miles driven on the vehicle.
        make: The make of the vehicle as a string.
        model: The model of the vehicle as a string.
        year: The integral year the vehicle was built.
        sold_on: The date the vehicle was sold.
    """

    base_sale_price = 0

    def __init__(self, wheels, miles, make, model, year, sold_on):
        """Return a new Vehicle object."""
        self.wheels = wheels
        self.miles = miles
        self.make = make
        self.model = model
        self.year = year
        self.sold_on = sold_on


    def sale_price(self):
        """Return the sale price for this vehicle as a float amount."""
        if self.sold_on is not None:
            return 0.0  # Already sold
        return 5000.0 * self.wheels

    def purchase_price(self):
        """Return the price for which we would pay to purchase the vehicle."""
        if self.sold_on is None:
            return 0.0  # Not yet sold
        return self.base_sale_price - (.10 * self.miles)

Now we can make the Car and Truck class inherit from the Vehicle class by replacing object in the line class Car(object). The class in parenthesis is the class that is inherited from (object essentially means "no inheritance". We'll discuss exactly why we write that in a bit).

We can now define Car and Truck in a very straightforward way:

In [ ]:
class Car(Vehicle):

    def __init__(self, wheels, miles, make, model, year, sold_on):
        """Return a new Car object."""
        self.wheels = wheels
        self.miles = miles
        self.make = make
        self.model = model
        self.year = year
        self.sold_on = sold_on
        self.base_sale_price = 8000


class Truck(Vehicle):

    def __init__(self, wheels, miles, make, model, year, sold_on):
        """Return a new Truck object."""
        self.wheels = wheels
        self.miles = miles
        self.make = make
        self.model = model
        self.year = year
        self.sold_on = sold_on
        self.base_sale_price = 10000

This works, but has a few problems. First, we're still repeating a lot of code. We'd ultimately like to get rid of all repetition. Second, and more problematically, we've introduced the Vehicle class, but should we really allow people to create Vehicle objects (as opposed to Cars or Trucks)? A Vehicle is just a concept, not a real thing, so what does it mean to say the following:

In [ ]:
v = Vehicle(4, 0, 'Honda', 'Accord', 2014, None)
print(v.purchase_price())

0.0

A Vehicle doesn't have a base_sale_price, only the individual child classes like Car and Truck do. The issue is that Vehicle should really be an Abstract Base Class. Abstract Base Classes are classes that are only meant to be inherited from; you can't create instance of an ABC. That means that, if Vehicle is an ABC, the following is illegal:

In [ ]:
v = Vehicle(4, 0, 'Honda', 'Accord', 2014, None)

It makes sense to disallow this, as we never meant for vehicles to be used directly. We just wanted to use it to abstract away some common data and behavior. So how do we make a class an ABC? Simple! The abc module contains a metaclass called ABCMeta (metaclasses are a bit outside the scope of this article). Setting a class's metaclass to ABCMeta and making one of its methods virtual makes it an ABC. A virtual method is one that the ABC says must exist in child classes, but doesn't necessarily actually implement. For example, the Vehicle class may be defined as follows:

In [ ]:
from abc import ABCMeta, abstractmethod

class Vehicle(object):
    """A vehicle for sale by Jeffco Car Dealership.


    Attributes:
        wheels: An integer representing the number of wheels the vehicle has.
        miles: The integral number of miles driven on the vehicle.
        make: The make of the vehicle as a string.
        model: The model of the vehicle as a string.
        year: The integral year the vehicle was built.
        sold_on: The date the vehicle was sold.
    """

    __metaclass__ = ABCMeta

    base_sale_price = 0

    def sale_price(self):
        """Return the sale price for this vehicle as a float amount."""
        if self.sold_on is not None:
            return 0.0  # Already sold
        return 5000.0 * self.wheels

    def purchase_price(self):
        """Return the price for which we would pay to purchase the vehicle."""
        if self.sold_on is None:
            return 0.0  # Not yet sold
        return self.base_sale_price - (.10 * self.miles)

    @abstractmethod
    def vehicle_type():
        """"Return a string representing the type of vehicle this is."""
        pass

Now, since vehicle_type is an abstractmethod, we can't directly create an instance of Vehicle. As long as Car and Truck inherit from Vehicle and define vehicle_type, we can instantiate those classes just fine.

Returning to the repetition in our Car and Truck classes, let see if we can't remove that by hoisting up common functionality to the base class, Vehicle:

In [ ]:
from abc import ABCMeta, abstractmethod
class Vehicle(object):
    """A vehicle for sale by Jeffco Car Dealership.


    Attributes:
        wheels: An integer representing the number of wheels the vehicle has.
        miles: The integral number of miles driven on the vehicle.
        make: The make of the vehicle as a string.
        model: The model of the vehicle as a string.
        year: The integral year the vehicle was built.
        sold_on: The date the vehicle was sold.
    """

    __metaclass__ = ABCMeta

    base_sale_price = 0
    wheels = 0

    def __init__(self, miles, make, model, year, sold_on):
        self.miles = miles
        self.make = make
        self.model = model
        self.year = year
        self.sold_on = sold_on

    def sale_price(self):
        """Return the sale price for this vehicle as a float amount."""
        if self.sold_on is not None:
            return 0.0  # Already sold
        return 5000.0 * self.wheels

    def purchase_price(self):
        """Return the price for which we would pay to purchase the vehicle."""
        if self.sold_on is None:
            return 0.0  # Not yet sold
        return self.base_sale_price - (.10 * self.miles)

    @abstractmethod
    def vehicle_type(self):
        """"Return a string representing the type of vehicle this is."""
        pass

Now the Car and Truck classes become:

In [ ]:
class Car(Vehicle):
    """A car for sale by Jeffco Car Dealership."""

    base_sale_price = 8000
    wheels = 4

    def vehicle_type(self):
        """"Return a string representing the type of vehicle this is."""
        return 'car'

class Truck(Vehicle):
    """A truck for sale by Jeffco Car Dealership."""

    base_sale_price = 10000
    wheels = 4

    def vehicle_type(self):
        """"Return a string representing the type of vehicle this is."""
        return 'truck'

This fits perfectly with our intuition: as far as our system is concerned, the only difference between a car and truck is the base sale price. Defining a Motorcycle class, then, is similarly simple:

In [ ]:
class Motorcycle(Vehicle):
    """A motorcycle for sale by Jeffco Car Dealership."""

    base_sale_price = 4000
    wheels = 2

    def vehicle_type(self):
        """"Return a string representing the type of vehicle this is."""
        return 'motorcycle'

###**Inheritance and the LSP**

Even though it seems like we used inheritance to get rid of duplication, what we were really doing was simply providing the proper level of abstraction. And abstraction is the key to understanding inheritance. We've seen how one side-effect of using inheritance is that we reduce duplicated code, but what about from the caller's perspective. How does using inheritance change that code?

Quite a bit, it turns out. Imagine we have two classes, Dog and Person, and we want to write a function that takes either type of object and prints out whether or not the instance in question can speak (a dog can't, a person can). We might write code like the following:

In [ ]:
def can_speak(animal):
    if isinstance(animal, Person):
        return True
    elif isinstance(animal, Dog):
        return False
    else:
        raise RuntimeError('Unknown animal!')

That works when we only have two types of animals, but what if we have twenty, or two hundred? That if...elif chain is going to get quite long.

The key insight here is that can_speak shouldn't care what type of animal it's dealing with, the animal class itself should tell us if it can speak. By introducing a common base class, Animal, that defines can_speak, we relieve the function of it's type-checking burden. Now, as long as it knows it was an Animal that was passed in, determining if it can speak is trivial:

In [ ]:
def can_speak(animal):
    return animal.can_speak()

This works because Person and Dog (and whatever other classes we crate to derive from Animal) follow the Liskov Substitution Principle. This states that we should be able to use a child class (like Person or Dog) wherever a parent class (Animal) is expected an everything will work fine. This sounds simple, but it is the basis for a powerful concept we'll discuss in a future article: interfaces.

# **Errors and Exception Handling**

## **try and except**

The basic terminology and syntax used to handle errors in Python are the <code>try</code> and <code>except</code> statements. The code which can cause an exception to occur is put in the <code>try</code> block and the handling of the exception is then implemented in the <code>except</code> block of code. The syntax follows:

    try:
       You do your operations here...
       ...
    except ExceptionI:
       If there is ExceptionI, then execute this block.
    except ExceptionII:
       If there is ExceptionII, then execute this block.
       ...
    else:
       If there is no exception then execute this block.

We can also just check for any exception with just using <code>except:</code> To get a better understanding of all this let's check out an example: We will look at some code that opens and writes a file:

In [ ]:
try:
    f = open('testfile','w')
    f.write('Test write this')
except IOError:
    # This will only check for an IOError exception and then execute this print statement
    print("Error: Could not find file or read data")
else:
    print("Content written successfully")
    f.close()

Content written successfully

Now let's see what would happen if we did not have write permission (opening only with 'r'):

In [ ]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except IOError:
    # This will only check for an IOError exception and then execute this print statement
    print("Error: Could not find file or read data")
else:
    print("Content written successfully")
    f.close()

Error: Could not find file or read data

Great! Notice how we only printed a statement! The code still ran and we were able to continue doing actions and running code blocks. This is extremely useful when you have to account for possible input errors in your code. You can be prepared for the error and keep running code, instead of your code just breaking as we saw above.

We could have also just said <code>except:</code> if we weren't sure what exception would occur. For example:

In [ ]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except:
    # This will check for any exception and then execute this print statement
    print("Error: Could not find file or read data")
else:
    print("Content written successfully")
    f.close()

Error: Could not find file or read data

Great! Now we don't actually need to memorize that list of exception types! Now what if we kept wanting to run code after the exception occurred? This is where <code>finally</code> comes in.
## **finally**
The <code>finally:</code> block of code will always be run regardless if there was an exception in the <code>try</code> code block. The syntax is:

    try:
       Code block here
       ...
       Due to any exception, this code may be skipped!
    finally:
       This code block would always be executed.

For example:

In [ ]:
try:
    f = open("testfile", "w")
    f.write("Test write statement")
    f.close()
finally:
    print("Always execute finally code blocks")

Always execute finally code blocks

We can use this in conjunction with <code>except</code>. Let's see a new example that will take into account a user providing the wrong input:

In [ ]:
def askint():
    try:
        val = int(input("Please enter an integer: "))
    except:
        print("Looks like you did not enter an integer!")

    finally:
        print("Finally, I executed!")
    print(val)

In [ ]:
askint()

Please enter an integer: 5
Finally, I executed!
5

In [ ]:
askint()

Please enter an integer: five
Looks like you did not enter an integer!
Finally, I executed!

UnboundLocalError: ignored

Notice how we got an error when trying to print val (because it was never properly assigned). Let's remedy this by asking the user and checking to make sure the input type is an integer:

In [ ]:
def askint():
    try:
        val = int(input("Please enter an integer: "))
    except:
        print("Looks like you did not enter an integer!")
        val = int(input("Try again-Please enter an integer: "))
    finally:
        print("Finally, I executed!")
    print(val)

In [ ]:
askint()

Please enter an integer: FIVE
Looks like you did not enter an integer!
Try again-Please enter an integer: FOUR
Finally, I executed!

ValueError: ignored

Hmmm...that only did one check. How can we continually keep checking? We can use a while loop!

In [ ]:
def askint():
    while True:
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            continue
        else:
            print("Yep that's an integer!")
            break
        finally:
            print("Finally, I executed!")
        print(val)

In [ ]:
askint()

Please enter an integer: FIVE
Looks like you did not enter an integer!
Finally, I executed!
Please enter an integer: FOUR
Looks like you did not enter an integer!
Finally, I executed!
Please enter an integer: 3
Yep that's an integer!
Finally, I executed!

So why did our function print "Finally, I executed!" after each trial, yet it never printed `val` itself? This is because with a try/except/finally clause, any <code>continue</code> or <code>break</code> statements are reserved until *after* the try clause is completed. This means that even though a successful input of **3** brought us to the <code>else:</code> block, and a <code>break</code> statement was thrown, the try clause continued through to <code>finally:</code> before breaking out of the while loop. And since <code>print(val)</code> was outside the try clause, the <code>break</code> statement prevented it from running.

Let's make one final adjustment:

In [ ]:
def askint():
    while True:
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            continue
        else:
            print("Yep that's an integer!")
            print(val)
            break
        finally:
            print("Finally, I executed!")

In [ ]:
askint()

Please enter an integer: SIX
Looks like you did not enter an integer!
Finally, I executed!
Please enter an integer: 6
Yep that's an integer!
6
Finally, I executed!

In [ ]:
try:
    for i in ['a','b','c']:
        print(i**2)
except:
    print("An error occurred!")

An error occurred!

In [ ]:
x = 5
y = 0
try:
    z = x/y
except ZeroDivisionError:
    print("Can't divide by Zero!")
finally:
    print('All Done!')

Can't divide by Zero!
All Done!

In [ ]:
def ask():

    while True:
        try:
            n = int(input('Input an integer: '))
        except:
            print('An error occurred! Please try again!')
            continue
        else:
            break


    print('Thank you, your number squared is: ',n**2)

In [ ]:
ask()

Input an integer: NULL
An error occurred! Please try again!
Input an integer: 2
Thank you, your number squared is:  4

## **map()**

map() is a built-in Python function that takes in two or more arguments: a function and one or more iterables, in the form:

    map(function, iterable, ...)
    
map() returns an *iterator* - that is, map() returns a special object that yields one result at a time as needed. We will learn more about iterators and generators in a future lecture. For now, since our examples are so small, we will cast map() as a list to see the results immediately.

When we went over list comprehensions we created a small expression to convert Celsius to Fahrenheit. Let's do the same here but use map:

In [ ]:
def fahrenheit(celsius):
    return (9/5)*celsius + 32

temps = [0, 22.5, 40, 100]

Now let's see map() in action:

In [ ]:
F_temps = map(fahrenheit, temps)

#Show
list(F_temps)

[32.0, 72.5, 104.0, 212.0]

In the example above, map() applies the fahrenheit function to every item in temps. However, we don't have to define our functions beforehand; we can use a lambda expression instead:

In [ ]:
list(map(lambda x: (9/5)*x + 32, temps))

[32.0, 72.5, 104.0, 212.0]

Great! We got the same result! Using map with lambda expressions is much more common since the entire purpose of map() is to save effort on having to create manual for loops.

### map() with multiple iterables
map() can accept more than one iterable. The iterables should be the same length - in the event that they are not, map() will stop as soon as the shortest iterable is exhausted.


For instance, if our function is trying to add two values **x** and **y**, we can pass a list of **x** values and another list of **y** values to map(). The function (or lambda) will be fed the 0th index from each list, and then the 1st index, and so on until the n-th index is reached.

Let's see this in action with two and then three lists:

In [ ]:
a = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,11,12]

list(map(lambda x,y:x+y,a,b))

[6, 8, 10, 12]

In [ ]:
# Now all three lists
list(map(lambda x,y,z:x+y+z,a,b,c))

[15, 18, 21, 24]

We can see in the example above that the parameter **x** gets its values from the list **a**, while **y** gets its values from **b** and **z** from list **c**. Go ahead and play with your own example to make sure you fully understand mapping to more than one iterable.

## **reduce()**

The function reduce(function, sequence) continually applies the function to the sequence. It then returns a single value.

If seq = [ s1, s2, s3, ... , sn ], calling reduce(function, sequence) works like this:

* At first the first two elements of seq will be applied to function, i.e. func(s1,s2)
* The list on which reduce() works looks now like this: [ function(s1, s2), s3, ... , sn ]
* In the next step the function will be applied on the previous result and the third element of the list, i.e. function(function(s1, s2),s3)
* The list looks like this now: [ function(function(s1, s2),s3), ... , sn ]
* It continues like this until just one element is left and return this element as the result of reduce()

Let's see an example:

In [ ]:
from functools import reduce

lst =[47,11,42,13]
reduce(lambda x,y: x+y,lst)

113

Lets look at a diagram to get a better understanding of what is going on here:

![image.png]()

Note how we keep reducing the sequence until a single final value is obtained. Lets see another example:

In [ ]:
#Find the maximum of a sequence (This already exists as max())
max_find = lambda a,b: a if (a > b) else b

In [ ]:
#Find max
reduce(max_find,lst)

47

## **filter**

The function filter(function, list) offers a convenient way to filter out all the elements of an iterable, for which the function returns True.

The function filter(function,list) needs a function as its first argument. The function needs to return a Boolean value (either True or False). This function will be applied to every element of the iterable. Only if the function returns True will the element of the iterable be included in the result.

Like map(), filter() returns an *iterator* - that is, filter yields one result at a time as needed. Iterators and generators will be covered in an upcoming lecture. For now, since our examples are so small, we will cast filter() as a list to see our results immediately.

Let's see some examples:

In [ ]:
#First let's make a function
def even_check(num):
    if num%2 ==0:
        return True

Now let's filter a list of numbers. Note: putting the function into filter without any parentheses might feel strange, but keep in mind that functions are objects as well.

In [ ]:
lst =range(20)

list(filter(even_check,lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

filter() is more commonly used with lambda functions, because we usually use filter for a quick job where we don't want to write an entire function. Let's repeat the example above using a lambda expression:

In [ ]:
list(filter(lambda x: x%2==0,lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

## **zip**

zip() makes an iterator that aggregates elements from each of the iterables.

Returns an iterator of tuples, where the i-th tuple contains the i-th element from each of the argument sequences or iterables. The iterator stops when the shortest input iterable is exhausted. With a single iterable argument, it returns an iterator of 1-tuples. With no arguments, it returns an empty iterator.

zip() is equivalent to:

    def zip(*iterables):
        # zip('ABCD', 'xy') --> Ax By
        sentinel = object()
        iterators = [iter(it) for it in iterables]
        while iterators:
            result = []
            for it in iterators:
                elem = next(it, sentinel)
                if elem is sentinel:
                    return
                result.append(elem)
            yield tuple(result)
        

zip() should only be used with unequal length inputs when you don’t care about trailing, unmatched values from the longer iterables.

In [ ]:
x = [1,2,3]
y = [4,5,6]

# Zip the lists together
list(zip(x,y))

[(1, 4), (2, 5), (3, 6)]

Note how tuples are returned. What if one iterable is longer than the other?

In [ ]:
x = [1,2,3]
y = [4,5,6,7,8]

# Zip the lists together
list(zip(x,y))

[(1, 4), (2, 5), (3, 6)]

Note how the zip is defined by the shortest iterable length. Its generally advised not to zip unequal length iterables unless your very sure you only need partial tuple pairings.

What happens if we try to zip together dictionaries?

In [ ]:
d1 = {'a':1,'b':2}
d2 = {'c':4,'d':5}

list(zip(d1,d2))

[('a', 'c'), ('b', 'd')]

This makes sense because simply iterating through the dictionaries will result in just the keys. We would have to call methods to mix keys and values:

In [ ]:
list(zip(d2,d1.values()))

[('c', 1), ('d', 2)]

Great! Finally lets use zip() to switch the keys and values of the two dictionaries:

In [ ]:
def switcharoo(d1,d2):
    dout = {}

    for d1key,d2val in zip(d1,d2.values()):
        dout[d1key] = d2val

    return dout

In [ ]:
switcharoo(d1,d2)

{'a': 4, 'b': 5}

## **enumerate()**

In this lecture we will learn about an extremely useful built-in function: enumerate(). Enumerate allows you to keep a count as you iterate through an object. It does this by returning a tuple in the form (count,element). The function itself is equivalent to:

    def enumerate(sequence, start=0):
        n = start
        for elem in sequence:
            yield n, elem
            n += 1

In [ ]:
lst = ['a','b','c']

for number,item in enumerate(lst):
    print(number)
    print(item)

0
a
1
b
2
c

enumerate() becomes particularly useful when you have a case where you need to have some sort of tracker. For example:

In [ ]:
for count,item in enumerate(lst):
    if count >= 2:
        break
    else:
        print(item)

a
b

enumerate() takes an optional "start" argument to override the default value of zero:

In [ ]:
months = ['March','April','May','June']

list(enumerate(months,start=3))

[(3, 'March'), (4, 'April'), (5, 'May'), (6, 'June')]

## **all() and any()**

all() and any() are built-in functions in Python that allow us to conveniently check for boolean matching in an iterable. all() will return True if all elements in an iterable are True. It is the same as this function code:

    def all(iterable):
        for element in iterable:
            if not element:
                return False
        return True
        
any() will return True if any of the elements in the iterable are True. It is equivalent to the following function code:

    def any(iterable):
        for element in iterable:
            if element:
                return True
        return False

In [ ]:
lst = [True,True,False,True]

In [ ]:
all(lst)

False

Returns False because not all elements are True.

In [ ]:
any(lst)

True

Returns True because at least one of the elements in the list is True

## **complex()**

complex() returns a complex number with the value real + imag*1j or converts a string or number to a complex number.

If the first parameter is a string, it will be interpreted as a complex number and the function must be called without a second parameter. The second parameter can never be a string. Each argument may be any numeric type (including complex). If imag is omitted, it defaults to zero and the constructor serves as a numeric conversion like int and float. If both arguments are omitted, returns 0j.

If you are doing math or engineering that requires complex numbers (such as dynamics, control systems, or impedance of a circuit) this is a useful tool to have in Python.

In [ ]:
# Create 2+3j
complex(2,3)

(2+3j)

In [ ]:
complex(10,1)

(10+1j)

We can also pass strings:

In [ ]:
complex('12+2j')

(12+2j)

In [ ]:
#Use map() to create a function which finds the length of each word in the phrase (broken by spaces) and return the values in a list.
#The function will have an input of a string, and output a list of integers.

def word_lengths(phrase):

    return list(map(len, phrase.split()))

In [ ]:
word_lengths('How long are the words in this phrase')

[3, 4, 3, 3, 5, 2, 4, 6]

In [ ]:
#Use reduce() to take a list of digits and return the number that they correspond to. For example, [1,2,3] corresponds to one-hundred-twenty-three.
#Do not convert the integers to strings!

from functools import reduce

def digits_to_num(digits):

    return reduce(lambda x,y:x*10 + y,digits)

In [ ]:
digits_to_num([3,4,3,2,1])

34321

In [ ]:
#Use filter() to return the words from a list of words which start with a target letter.

def filter_words(word_list, letter):

    return list(filter(lambda word:word[0]==letter,word_list))

In [ ]:
words = ['hello','are','cat','dog','ham','hi','go','to','heart']
filter_words(words,'h')

['hello', 'ham', 'hi', 'heart']

In [ ]:
#Use zip() and a list comprehension to return a list of the same length
#where each value is the two strings from L1 and L2 concatenated together with a connector between them. Look at the example output below:

def concatenate(L1, L2, connector):

    return [word1+connector+word2 for (word1,word2) in zip(L1,L2)]

In [ ]:
concatenate(['A','B'],['a','b'],'-')

['A-a', 'B-b']

In [ ]:
#Use enumerate() and other skills to return a dictionary which has the values of the list as keys and the index as the value.
#You may assume that a value will only appear once in the given list.

def d_list(L):

    return {key:value for value,key in enumerate(L)}

In [ ]:
d_list(['a','b','c'])

{'a': 0, 'b': 1, 'c': 2}

In [ ]:
#Use enumerate() and other skills from above to return the count of the number of items in the list whose value equals its index.

def count_match_index(L):

    return len([num for count,num in enumerate(L) if num==count])

In [ ]:
count_match_index([0,2,2,1,5,5,6,10])

4